.button-base,
.button-primary,
.button-secondary {
	position: relative;
	display: inline-block;
	border: 0;
	background: none;
	padding: 0;
	text-decoration: none;
	text-align: center;
	color: $colorBody;
	cursor: pointer;
}

.button-primary {

	font-family: $fontSecondary;
	font-size: 20px;
	line-height: 1;
	height: 46px;
	background: #4661B8;
	border-radius: 8px;
	text-transform: uppercase;
	padding: 0 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-decoration: none;

	&:hover {

		color: white;
		text-decoration: none;
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #4661B8;
	}

	&:active {

		background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #4661B8;
	}

	&--green {

		background: #3BB124;

		&:hover {

			background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #3BB124;
		}

		&:active {

			background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3BB124;
		}
	}

	&--transparent {

		background: none !important;

		&:hover {

			color: #78ca68;
		}
	}

	&--large {

		font-size: 22px;
		height: 56px;
	}
	
}

.button-play {

	position: relative;
	z-index: 1;
	height: 110px;
	width: 110px;
	display: flex;
	justify-content: center;
	align-items: center;

	svg {

		margin-left: 5px;
	}

	&::before {

		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: linear-gradient(180deg, #EB55EE -81.5%, #2D68FF 191.34%);
		box-shadow: 0px 1.98261px 7.93043px rgba(0, 11, 108, 0.25), 
					inset 0px 1.98261px 1.98261px rgba(255, 255, 255, 0.25),
					0 0 10px 4px rgba(185, 94, 246, 0.0);
		border-radius: 25px;
		z-index: -1;
		transition: box-shadow $transition;
	} 

	&:hover {

		&::before {
			box-shadow: 0px 1.98261px 7.93043px rgba(0, 11, 108, 0.25), 
					inset 0px 1.98261px 1.98261px rgba(255, 255, 255, 0.25),
					0 0 10px 4px rgba(185, 94, 246, 0.7);
		}
	}
}

@media (max-width: 1199.98px){
	
	.button-primary {

		font-size: 18px;
		height: 46px;
		padding: 0 42px;
	}
}

@media (max-width: 991.98px){

	.button-primary {

		font-size: 16px;
		height: 42px;
		padding: 0 36px;
		border-radius: 6px;
	}
}

@media (max-width: 767.98px){
	
	.button-primary {

		font-size: 14px;
		height: 38px;
		padding: 0 32px;
		border-radius: 4px;
	}
}

@media (max-width: 575.98px){

	.button-primary {

		font-size: 12px;
		height: 34px;
		padding: 0 30px;
	}
	
}

@media (max-width: 480.98px){

	.button-primary {

		height: 30px;
		padding: 0 26px;

		&--large {

			font-size: 16px;
			height: 44px;
		}
	}

	.button-play {

		width: 80px;
		height: 80px;

		&::before {

			border-radius: 15px;
		}

		svg {

			width: 30px;
		}
	}
}

@media (max-width: 374px){
	
	.button-primary {

		font-size: 10px;
		height: 28px;
		padding: 0 24px;

		&--large {

			font-size: 16px;
			height: 42px;
		}
	}

	.button-play {

		width: 70px;
		height: 70px;

		&::before {

			border-radius: 12px;
		}

		svg {

			width: 26px;
		}
	}
}

@media (max-width: 350px){

	.button-primary {

		font-size: 10px;
		height: 26px;
		padding: 0 22px;
	}

	.button-play {

		width: 64px;
		height: 64px;

		&::before {

			border-radius: 12px;
		}

		svg {

			width: 24px;
		}
	}
	
}